.content{
    background-color: #111C1C;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 25px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-Content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    justify-content: center;
}

@media (max-width: 500px){
    .grid-Content{
        grid-template-columns: auto auto;   
    }
}


@media (max-width: 600px){
    div .Content{
        margin-left:10px;
    }
    .grid-Content{
        grid-template-columns: auto auto;   
    }
}