div .Content{
    background-color: #111C1C;
    border-radius: 5px;
    max-width: 65vw;
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.grid-Content{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@media (max-width: 500px){
    .grid-Content{
        grid-template-columns: auto auto;   
    }
}


@media (max-width: 600px){
    div .Content{
        margin-left:10px;
    }
    .grid-Content{
        grid-template-columns: auto auto;   
    }
}