.carrito{
    padding: 100px;
    padding-bottom: 500px;
}
h2{
    text-align: center;
}
table{
    display: blocks;
    margin: auto;
}
th, tr{
    color:rgb(252, 252, 252);
    width: 300px;
}

th{
    padding: 20px;
    background-color: rgb(38, 68, 55);
    border-radius: 10px;

}

tr{
    background-color: rgba(75, 144, 114, 0.625);
    text-align: center;
    height: 28px;
}

td{
    border-radius: 10px;
}

.carrito a.btn-link{
    display: block;
    height: 50px;
    background-color: rgb(97, 184, 84);
    border-radius: 15px;
    text-align: center;
    padding-top: 30px;
    width: 200px;
    color: azure;
    margin: auto;
    margin-top: 25px;
}