div .View{
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.productInfo {
    max-width: 600px;
    height: fit-content;
}

.grid-img{
    grid-template-columns: auto auto;
}

.View img{
    height: 600px;
}

.View button{
    margin:auto;
}
