:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: #657053;
  background-color: #070D0C;
  background-image: url(/src/assets/wbook.png);
  background-blend-mode: overlay;

  margin: 0;
  padding: 0;
}

a:-webkit-any-link {
  color: #406164;
  text-decoration: none;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #657053 #657053;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #111C1C;
}

*::-webkit-scrollbar-thumb {
  background-color: #657053;
  border-radius: 10px;
  border: 3px solid #111C1C;
}

.svg-image-colored {
  filter: invert(39%) sepia(23%) saturate(418%) hue-rotate(41deg) brightness(99%) contrast(86%);
}
.flex-wrapper-centered {
  display: flex;
  flex-direction: column;
  min-height: 78.2vh;
  align-items: center;
  justify-content: center;
}

.content-wrapper-extended {
  background-color: #111C1C;
  margin: 50px;
  border-radius: 5px;
  min-width: 50%;
  padding: 25px;
}

.content-wrapper {
  background-color: #111C1C;
  margin: 50px;
  border-radius: 5px;
  width: max-content;
  padding: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 5px;
  min-width: 250px;
  height: 25px;
  color: #111C1C;
  background-color: #406164;
  border-radius: 5px;
  border: 0px solid transparent;
  
}

form input::placeholder {
  color: #111C1C;
  
}

form label {
  font-weight: 600;
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 0;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  min-width: 100px;
  background-color: #657053;
  color:#111C1C;
  border-radius: 5px;
  border: none;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
}

@media (max-width: 600px){

}