:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: #657053;
  background-color: #070D0C;
  background-image: url(/src/assets/wbook.png);
  background-blend-mode: overlay;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
}

.content-wrapper {
  background-color: #111C1C;
  margin: 50px;
  border-radius: 5px;
  min-height: 68.3vh;
  width: max-content;
  padding: 25px;
}

.flex-wrapper-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  min-width: 200px;
  height: 25px;
  color: #111C1C;
  background-color: #406164;
  border-radius: 5px;
  border: 0px solid transparent;
  
}

form input::placeholder {
  color: #111C1C;
  
}

form label {
  font-weight: 600;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 0;
}

form button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  min-width: 200px;
  background-color: #657053;
  color:#111C1C;
  border-radius: 5px;
  border: none;
  padding: 15px 25px 15px 25px;
}